h1{
    color:cornflowerblue;
    font-family: 'Lucida Sans';
    text-align: center;
}

div h2{
    border: 2px solid darkblue;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Lucida Sans';
}

body{
    background-image: url('covid4.jpg');
    background-size: cover;
}

div p{
    font-family:sans-serif;
}

